:root {
  --background: #E5E5E5;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainGrey: #696969;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
}
    .rating {
        display: flex;
        padding: 0;
        margin: 0;
    }
    .rating li {
        list-style-type: none;   
    }
    .rating-item {
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: var(--mainYellow);
    }

    /* initial make all full */
    .rating-item::before {
      content: "\2605";
    }

    /* make untill the clicked star (the rest) empty */
    .rating-item.active ~ .rating-item::before {
      content: "\2606";
    }

    .rating:hover .rating-item::before {
      content: "\2605";
    }
    
    .rating-item:hover ~ .rating-item::before {
      content: "\2606";
    }

@media (prefers-reduced-motion: no-preference) {

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
